@import url('https://fonts.googleapis.com/css?family=Russo+One');

body{
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
  margin: 0;
  background-color: lightgrey;
  font-family: 'Russo One';
  font-size: 1.2rem;
}